<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

    <div style="height: 500px; margin-top: 75px; margin-left: 200px; margin-right: 200px; border: 2px solid black">

        <center style="margin-top: 50px; font-size: 20px">
            <h1>About Me...</h1>
        </center>

        <center style="margin-top: 60px">

            <div>
                <p>
                    Hi... This is Abhishek Anand
                </p>
            </div>

            <div >
                <a href="/"><button type="button" style="width: 120px; height: 30px; margin: 15px;">Back</button></a>
            </div>
        </center>

    </div>

</body>
</html>