<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Add Flower</title>
</head>
<body>

        <center style="margin-top: 80px; font-size: 20px"><h1>Add Flower</h1></center>
        {% if msg %}
            <center style="background-color: pink; font-size:20px; margin-top:20px"><i>{{msg}}</i></center>
        {% endif %}
        <div style="background-color: #4cf568; margin-top: 30px">
                <center>
                    {% if f_code %}
                    <h4><i> {{f_code}} Flower Added...</i></h4>
                    {% endif %}
                </center>
            </div>

        <form action="/add_confirmation" method="POST" style="font-size: 20px">

            <div style="margin-left: 450px">
                <label style="color: blue">Enter Flower Code </label>
                <input style="margin-left: 79px ; margin-top: 30px ; border : 1px solid orange" type="text" name="f_code">
                <br>
                <label style="color: blue">Enter Flower Quantity </label>
                <input style="margin-left: 50px; margin-top: 20px; border : 1px solid orange" type="text" name="f_quantity">
                <br>
                <label style="color: blue">Enter Flower Name </label>
                <input style="margin-left: 72px; margin-top: 20px;border : 1px solid orange" type="text" name="f_name">
                <br>
            </div>

            <center style="margin-top: 70px">
                <a href="/admin_home"><button class="btn btn-primary" type="button" style="width: 120px; height: 40px; margin: 20px; background-color: orange; border-color: orange">Back</button></a>
                <a href="/admin_display_menu"><button class="btn btn-primary" type="button" style="width: 120px; height: 40px;">Menu</button></a>
                <input class="btn btn-primary" style=" margin: 20px; width: 120px;height: 40px" type="Submit" value="Add">
            </center>

        </form>


</body>
</html>